.color {
    border: 1px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
}

#black {
    background-color: black; 

}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}


.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.line {
    width: 210px;
    height: 40px;
}
/*
#pixel-board {
    border: 1px solid black;
    width: 210px;
    height: 210px;
}
*/
